/* navbar wrapper */

.navbar-wrapper{
display:flex;
justify-content:center;
position:sticky;
top:20px;
z-index:500;
padding:0 15px;
}

/* navbar box */

.navbar{
display:flex;
align-items:center;
justify-content:center;
position:relative;
width:100%;
max-width:1000px;
padding:16px 40px;
background:#ffffff;
border-radius:12px;

/* border */
border:1px solid #334155;

/* shadow */
box-shadow:0 8px 25px rgba(0,0,0,0.4);
}

/* logo */

.logo{
position:absolute;
left:30px;
font-size:22px;
font-weight:600;
color:#38bdf8;
}

/* center links */

.nav-links{
display:flex;
gap:40px;
list-style:none;
margin:0;
padding:0;
}

/* link style */

.nav-links a{
text-decoration:none;
color:#000;
font-size:18px;
transition:0.3s;
}

.nav-links a:hover{
color:#38bdf8;
}


/* ------------------ */
/* Tablet Responsive */
/* ------------------ */

@media (max-width:900px){

.navbar{
padding:14px 25px;
}

.nav-links{
gap:25px;
}

.logo{
left:20px;
font-size:20px;
}

}


/* ------------------ */
/* Mobile Responsive */
/* ------------------ */

@media (max-width:600px){

.navbar{
flex-direction:column;
padding:18px;
gap:10px;
}

.logo{
position:static;
margin-bottom:5px;
}

.nav-links{
flex-wrap:wrap;
justify-content:center;
gap:15px;
}

.nav-links a{
font-size:16px;
}

}